:root {
        /*Palette*/
        --absolute-white: #FFFFFF;
        --background-white:  #F9F9F9;
        --light-gold: #DFCA4E;
        --real-gold: #D4AF37;
        --blue-logo: #004AAD;
        --red-logo: #FF1616;
        --red-carpet: #C32A2A;
        --orange: #EA2C0B;
        --absolute-black: #000000;
        --primary-black: #110E0E;
        --light-black: #1A1717;
        --wara-black: #3C3030;
}

@font-face {
    font-family: "Shrikhand";
    src: url("../fonts/Shrikhand-Regular/Shrikhand-Regular.ttf");
}

@font-face {
    font-family: "Mulish";
    src: url("../fonts/Mulish/Mulish-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Mulish-bold";
    src: url("../fonts/Mulish/Mulish-Italic-VariableFont_wght.ttf");
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background: linear-gradient(135deg, hsla(0, 65%, 46%, 1) 0%, hsla(0, 50%, 44%, 1) 10%, hsla(0, 0%, 0%, 1) 100%);
}

header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 11.5vh;
    /*background: linear-gradient(135deg, hsla(0, 65%, 46%, 1) 0%, hsla(0, 50%, 44%, 1) 10%, hsla(0, 0%, 0%, 1) 100%);*/
    justify-content: space-between;
    align-items: center;
}

header .header__a {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 30px;
    text-decoration: none;
    font-family: "Shrikhand", sans-serif;
}

header .a__img {
    height: 60px;
    padding: 5px;
    background-color: #f9f9f94f;
    border-radius: 10px;
}

header .a__div {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    line-height: 15pt;
}

header .a__div--Movie {
    color: var(--blue-logo);
    margin-left: 5px;
}

header .a__div--Club {
    color: var(--red-logo);
    margin-left: 10px;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.login {
    background-color: var(--light-black);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 30px;
    min-height: calc(100vh - 200px);
    width: 800px;
    border-radius: 35px;
}

.login__container {
    display: flex;
    background-color: #f9f9f993;
    border: 2px solid var(--absolute-white);
    border-radius: 40px;
    padding: 60px 68px 40px;
    min-height: 320px;
    width: 700px;
    justify-content: space-around;
    flex-direction: column;
}

.login__container--form {
    display: flex;
    flex-direction: column;
}

.login__container--form label {
    font-size: 14px;
}

.login__container--remember-me {
    color: var(--absolute-white);
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.login__container--remember-me a {
    color: var(--absolute-white);
    font-size: 1.4rem;
    text-decoration: none;
}

.login__container--remember-me a:hover {
    text-decoration: underline;
}

.remember-me__item {
    width: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.login__social-media--container > div {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.login__container__social-media--google img {
    width: 33px;
    margin-right: 10px;
}
.login__container__social-media--facebook img {
    width: 33px;
    margin-right: 10px;
}
.login__container__social-media--twitter img {
    width: 33px;
    margin-right: 10px;
}

.login__container--register {
    font-size: 1.4rem;
}

.login__container--register a {
    color: var(--absolute-white);
    font-size: 1.6rem;
    font-weight: bold;
    text-decoration: none;
}

.login__container--register a:hover {
    text-decoration: underline;
}

.input {
    background-color: transparent;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 2px solid var(--absolute-white);
    font-family: "Mulish", sans-serif;
    font-size: 16px;
    margin-bottom: 20px;
    padding: 0px 20px;
    outline: none;
    height: 50px;
}

::placeholder {
    color: var(--absolute-white);
}

button {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 25px;
    color: var(--absolute-white);
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: bold;
    font-family: "Mulish", sans-serif;
    height: 50px;
    letter-spacing: 1px;
    width: 400px;
    justify-self: center;
    align-self: center;
    margin: 10px 0px;;
}

footer {
    width: 100%;
    margin-top: 2px;
    /*background: linear-gradient(135deg, hsla(0, 65%, 46%, 1) 0%, hsla(0, 50%, 44%, 1) 10%, hsla(0, 0%, 0%, 1) 100%);*/
}

.footer__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.info {
    margin-left: 60px;
}

footer .info {
    padding: 20px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

footer .rights-policy {
    font-family: "Mulish", sans-serif;
    color: var(--absolute-white);
    margin-left: 15px;
}

footer .rights-policy a {
    text-decoration: none;
    color: var(--real-gold);
}

footer .header__a {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 30px;
    text-decoration: none;
    font-family: "Shrikhand", sans-serif;
}

footer .a__img {
    height: 60px;
    padding: 5px;
    background-color: #f9f9f94f;
    border-radius: 10px;
}

footer .a__div {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    line-height: 15pt;
}

footer .a__div--Movie {
    color: var(--blue-logo);
    margin-left: 5px;
}

footer .a__div--Club {
    color: var(--red-logo);
    margin-left: 10px;
}

footer .right-container .social-networks {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
    margin-right: 60px;
}

.social-networks a {
    width: 50px;
    height: 50px;
    margin: 5px;
}

.social-networks .facebook {
    background-image: url("../images/facebook.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.social-networks .instagram {
    background-image: url("../images/instagram.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.social-networks .twitter {
    background-image: url("../images/twitter.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-width: 600px) {
    .login__container {
        background-color: transparent;
        border: none;
        padding: 0px;
        width: 100%;
    }
}